/*
	RESET & BASIC SETUP
*/
* 							{ margin: 0; padding: 0; }
body 						{ font-size: 62.5%; 
							  font-family: 'Lucida Grande', Helvetica, sans-serif;
							  background: #121212; padding: 20px; color: #999; }
/*
	STRUCTURE
*/
.post 						{
	width: auto;
	height: auto;
}


/*
	TYPOGRAPHY
*/
p							{
	font-size: large;
	margin: 0 0 15px 0;
	color: #000000;
}
h1							{ font-family: Helvetica, sans-serif; font-size: 4.0em;
							  letter-spacing: -1px; color: #ccc; }
h2							{ font-family: Helvetica, sans-serif; font-size: 3.0em;
							  letter-spacing: -1px; color: #ccc; }
a							{ color: #0066cc; }
a:hover						{ color: #ccc; }
